<a href="https://colab.research.google.com/github/juanmanuelvillacis/lab_recommender_system/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [5]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import pdist, squareform

In [6]:
data = pd.read_csv('/content/drive/MyDrive/Iron Hack/LABs/csv_docs/customer_product_sales.csv')

In [7]:
data

       CustomerID FirstName  ...                    ProductName  Quantity
0           61288      Rosa  ...           Bread - Hot Dog Buns        16
1           77352     Myron  ...           Bread - Hot Dog Buns        20
2           40094     Susan  ...           Bread - Hot Dog Buns        11
3           23548    Tricia  ...           Bread - Hot Dog Buns         6
4           78981     Scott  ...           Bread - Hot Dog Buns        20
...           ...       ...  ...                            ...       ...
68579       94547    Gerald  ...  Wine - Prosecco Valdobiaddene        24
68580       57654  Lashonda  ...  Wine - Prosecco Valdobiaddene        15
68581       36751      Glen  ...  Wine - Prosecco Valdobiaddene        10
68582       43270     Devon  ...  Wine - Prosecco Valdobiaddene        11
68583       78718     Mandy  ...  Wine - Prosecco Valdobiaddene        20

[68584 rows x 7 columns]

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [51]:
df_product = data.groupby(['CustomerID','ProductName']).sum('Quantity').reset_index()
df_product

       CustomerID                    ProductName  SalesID  ProductID  Quantity
0              33               Apricots - Dried   172592        324         1
1              33              Assorted Desserts  5363705        219         1
2              33        Bandage - Flexible Neon  6299165        273         1
3              33  Bar Mix - Pina Colada, 355 Ml  3147536        281         1
4              33         Beans - Kidney, Canned  6507033        300         1
...           ...                            ...      ...        ...       ...
63623       98200                   Vol Au Vents  5160346        272        50
63624       98200                  Wasabi Powder  4438427         80        25
63625       98200       Wine - Fume Blanc Fetzer  6226060         76        25
63626       98200  Wine - Hardys Bankside Shiraz   266676        360        25
63627       98200        Yogurt - French Vanilla  2112061        320        25

[63628 rows x 5 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [52]:
pivot = df_product.pivot_table(values='Quantity',index='CustomerID',columns='ProductName')
pivot.fillna(0,inplace=True)
pivot

ProductName  Anchovy Paste - 56 G Tube  ...  Zucchini - Yellow
CustomerID                              ...
33                                 0.0  ...                0.0
200                                0.0  ...                0.0
264                                0.0  ...                0.0
356                                0.0  ...                0.0
412                                0.0  ...                0.0
...                                ...  ...                ...
97928                              0.0  ...                0.0
98069                              0.0  ...                0.0
98159                              0.0  ...                0.0
98185                              0.0  ...                0.0
98200                              0.0  ...                0.0

[1000 rows x 452 columns]

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [11]:
pdist(pivot, metric='euclidean')

array([ 11.91637529,  10.48808848,  11.22497216, ..., 304.13812651,
       305.16389039, 303.10889132])

In [54]:
sim_matrix = pd.DataFrame(1/(1 + squareform(pdist(pivot, metric='euclidean'))),index=pivot.index,columns=pivot.index)
sim_matrix

CustomerID     33        200       264    ...     98159     98185     98200
CustomerID                                ...
33          1.000000  0.077421  0.087047  ...  0.004355  0.004167  0.004333
200         0.077421  1.000000  0.078448  ...  0.004367  0.004166  0.004335
264         0.087047  0.078448  1.000000  ...  0.004365  0.004179  0.004333
356         0.081800  0.076435  0.080070  ...  0.004365  0.004175  0.004339
412         0.080634  0.073693  0.081800  ...  0.004367  0.004177  0.004349
...              ...       ...       ...  ...       ...       ...       ...
97928       0.004515  0.004521  0.004543  ...  0.003418  0.003255  0.003245
98069       0.004583  0.004614  0.004595  ...  0.003469  0.003345  0.003381
98159       0.004355  0.004367  0.004365  ...  1.000000  0.003277  0.003266
98185       0.004167  0.004166  0.004179  ...  0.003277  1.000000  0.003288
98200       0.004333  0.004335  0.004333  ...  0.003266  0.003288  1.000000

[1000 rows x 1000 columns]

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [84]:
top_5 = sim_matrix.sort_values(33,ascending=False).iloc[1:6,1]
top_5_id = top_5.index.values
top_5_id

array([3317, 3535,  264, 2503, 3305])

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [57]:
df_simil = df_product[df_product['CustomerID'].isin (top_5_id)]

In [58]:
df_simil

      CustomerID                     ProductName  SalesID  ProductID  Quantity
131          264               Apricots - Halves  3730301        278         1
132          264                  Apricots Fresh  5035449        158         1
133          264      Bacardi Breezer - Tropical   756802         49         1
134          264                   Bagel - Plain  6728381        262         1
135          264                 Banana - Leaves  6298459        271         1
...          ...                             ...      ...        ...       ...
3003        3535             Tray - 16in Rnd Blk  6122047        166         1
3004        3535                     Wanton Wrap  2643670        253         1
3005        3535   Wine - Blue Nun Qualitatswein  3314104        269         1
3006        3535  Wine - Magnotta, Merlot Sr Vqa  6563480        192         1
3007        3535                   Yoghurt Tubes  2723180        179         1

[270 rows x 5 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [59]:
df_products_top5 = df_simil.groupby('ProductName').agg({'Quantity':'sum'}).sort_values('Quantity',ascending=False)
df_products_top5

                               Quantity
ProductName
Butter - Unsalted                     3
Wine - Ej Gallo Sierra Valley         3
Towels - Paper / Kraft                3
Soup - Campbells Bean Medley          3
Wine - Blue Nun Qualitatswein         3
...                                 ...
Hinge W Undercut                      1
Ice Cream Bar - Hageen Daz To         1
Jagermeister                          1
Jolt Cola - Electric Blue             1
Yogurt - French Vanilla               1

[218 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [ ]:
chosen = df_product[df_product['CustomerID']==33][['ProductName','Quantity']]
chosen

In [104]:
rec_prod = chosen.merge(df_products_top5,on='ProductName',how='outer').sort_values(by='Quantity_y',ascending=False)
rec_prod = rec_prod[rec_prod['Quantity_x'].isna()][['ProductName','Quantity_y']].head()
rec_prod

                      ProductName  Quantity_y
51          Pepper - Black, Whole         3.0
52          Knife Plastic - White         3.0
53              Butter - Unsalted         3.0
54  Wine - Ej Gallo Sierra Valley         3.0
55  Wine - Blue Nun Qualitatswein         3.0

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [91]:
ids = data['CustomerID'].unique()
#ids = [80890,12598,7623]

In [105]:
recomendations = list()
for i,a in enumerate(ids):
  top_5 = sim_matrix[a].sort_values(ascending=False)[1:].head(5)
  df_simil = df_product[df_product['CustomerID'].isin (top_5.index)]
  df_products_top5 = df_simil.groupby('ProductName')[["ProductName","Quantity"]].sum("Quantity").sort_values(ascending=False, by="Quantity")
  #7
  chosen = df_product[df_product['CustomerID']==a][['ProductName','Quantity']]
  rec_prod = chosen.merge(df_products_top5,on='ProductName',how='outer').sort_values(by='Quantity_y',ascending=False)
  rec_prod = rec_prod[rec_prod['Quantity_x'].isna()][['ProductName','Quantity_y']].head()
  rec_prod = list(rec_prod['ProductName'])
  reco_all={'CustomerID':i,'Rec.Product1':rec_prod[0],'Rec.Product2':rec_prod[1],'Rec.Product3':rec_prod[2],
            'Rec.Product4':rec_prod[3],'Rec.Product5':rec_prod[4],}
  recomendations.append(reco_all)

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [106]:
df_res = pd.DataFrame(recomendations)
df_res

     CustomerID  ...                       Rec.Product5
0             0  ...                  Dc - Frozen Momji
1             1  ...                Flour - Whole Wheat
2             2  ...          Anchovy Paste - 56 G Tube
3             3  ...                     Juice - Orange
4             4  ...  Appetizer - Mini Egg Roll, Shrimp
..          ...  ...                                ...
995         995  ...                         Barramundi
996         996  ...         Hot Chocolate - Individual
997         997  ...           Soup - Campbells, Lentil
998         998  ...         Salmon - Atlantic, Skin On
999         999  ...                        Clam Nectar

[1000 rows x 6 columns]

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [107]:
def make_reco (dist):
  ids = data['CustomerID'].unique()
  recomendations = list()
  for i,a in enumerate(ids):
    top_5 = sim_matrix[a].sort_values(ascending=False)[1:].head(5)
    df_simil = df_product[df_product['CustomerID'].isin (top_5.index)]
    df_products_top5 = df_simil.groupby('ProductName')[["ProductName","Quantity"]].sum("Quantity").sort_values(ascending=False, by="Quantity")
    #7
    chosen = df_product[df_product['CustomerID']==a][['ProductName','Quantity']]
    rec_prod = chosen.merge(df_products_top5,on='ProductName',how='outer').sort_values(by='Quantity_y',ascending=False)
    rec_prod = rec_prod[rec_prod['Quantity_x'].isna()][['ProductName','Quantity_y']].head()
    rec_prod = list(rec_prod['ProductName'])
    reco_all={'CustomerID':i,'Rec.Product1':rec_prod[0],'Rec.Product2':rec_prod[1],'Rec.Product3':rec_prod[2],
              'Rec.Product4':rec_prod[3],'Rec.Product5':rec_prod[4],}
    recomendations.append(reco_all)
  return pd.DataFrame(recomendations)

In [108]:
# metrica "correlation"
sim_matrix = pd.DataFrame(1/(1 + squareform(pdist(pivot, metric='correlation'))),index=pivot.index,columns=pivot.index)


make_reco(sim_matrix)

     CustomerID  ...                       Rec.Product5
0             0  ...                  Dc - Frozen Momji
1             1  ...                Flour - Whole Wheat
2             2  ...          Anchovy Paste - 56 G Tube
3             3  ...                     Juice - Orange
4             4  ...  Appetizer - Mini Egg Roll, Shrimp
..          ...  ...                                ...
995         995  ...                         Barramundi
996         996  ...         Hot Chocolate - Individual
997         997  ...           Soup - Campbells, Lentil
998         998  ...         Salmon - Atlantic, Skin On
999         999  ...                        Clam Nectar

[1000 rows x 6 columns]

In [109]:
# metrica "city block"
sim_matrix = pd.DataFrame(1/(1 + squareform(pdist(pivot, metric='cityblock'))),index=pivot.index,columns=pivot.index)


make_reco(sim_matrix)

     CustomerID  ...                      Rec.Product5
0             0  ...                          Bay Leaf
1             1  ...                      Juice - Lime
2             2  ...             Knife Plastic - White
3             3  ...  Cheese - Boursin, Garlic / Herbs
4             4  ...                  Salsify, Organic
..          ...  ...                               ...
995         995  ...             Knife Plastic - White
996         996  ...             Knife Plastic - White
997         997  ...              Lime Cordial - Roses
998         998  ...     Pork - Hock And Feet Attached
999         999  ...                 Butter - Unsalted

[1000 rows x 6 columns]

In [110]:
# metrica "cosine"
sim_matrix = pd.DataFrame(1/(1 + squareform(pdist(pivot, metric='cosine'))),index=pivot.index,columns=pivot.index)


make_reco(sim_matrix)

     CustomerID  ...                   Rec.Product5
0             0  ...              Dc - Frozen Momji
1             1  ...        Bread - French Baquette
2             2  ...         Cake - Mini Cheesecake
3             3  ...  Soup - Campbells, Beef Barley
4             4  ...                Quiche Assorted
..          ...  ...                            ...
995         995  ...                     Barramundi
996         996  ...   Wine - Alsace Gewurztraminer
997         997  ...                   Cheese - Mix
998         998  ...                Fondant - Icing
999         999  ...  Wine - Prosecco Valdobiaddene

[1000 rows x 6 columns]

In [111]:
# metrica "jaccard"
sim_matrix = pd.DataFrame(1/(1 + squareform(pdist(pivot, metric='jaccard'))),index=pivot.index,columns=pivot.index)


make_reco(sim_matrix)

     CustomerID  ...                    Rec.Product5
0             0  ...       Appetizer - Sausage Rolls
1             1  ...      Bread - Raisin Walnut Oval
2             2  ...     Sponge Cake Mix - Chocolate
3             3  ...    Soup - Campbells Bean Medley
4             4  ...  French Pastry - Mini Chocolate
..          ...  ...                             ...
995         995  ...                Eggplant - Asian
996         996  ...            Lamb - Pieces, Diced
997         997  ...               Zucchini - Yellow
998         998  ...    Soup - Canadian Pea, Dry Mix
999         999  ...            Curry Paste - Madras

[1000 rows x 6 columns]