# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [4]:
product_quantity = data.groupby(['CustomerID', 'ProductName'])[['Quantity']].sum()
product_quantity

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1
...                                            ...
98200      Vol Au Vents                         50
           Wasabi Powder                        25
           Wine - Fume Blanc Fetzer             25
           Wine - Hardys Bankside Shiraz        25
           Yogurt - French Vanilla              25

[63628 rows x 1 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [5]:
pivot = data.pivot_table(index='ProductName', columns='CustomerID', values='Quantity', aggfunc='sum', fill_value=0)
pivot

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,25,0,0,0,0,0,0
Yoghurt Tubes,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,25,0,0
"Yogurt - Blueberry, 175 Gr",0,1,0,0,0,0,0,0,0,0,...,25,0,0,25,0,0,0,0,0,0
Yogurt - French Vanilla,1,0,0,1,0,0,2,0,0,1,...,0,0,25,0,0,0,0,0,0,25
Zucchini - Yellow,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [6]:
distances = squareform(pdist(pivot.T, 'euclidean'))
distances = pd.DataFrame(1/(1 + distances), index=pivot.columns, columns=pivot.columns)

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [7]:
top = distances[33].sort_values(ascending=False)[1:6]
top

CustomerID
3317    0.087047
3535    0.087047
264     0.087047
2503    0.085983
3305    0.085638
Name: 33, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [8]:
temp = product_quantity.loc[top.index]
temp

                                          Quantity
CustomerID ProductName
3317       Bay Leaf                              1
           Beef - Ground Medium                  1
           Beef - Rib Eye Aaa                    1
           Butter - Unsalted                     1
           Cheese - Victor Et Berthold           1
...                                            ...
3305       Wine - Ej Gallo Sierra Valley         2
           Wine - Pinot Noir Latour              1
           Wine - Redchard Merritt               1
           Wine - White Cab Sauv.on              1
           Yogurt - French Vanilla               1

[270 rows x 1 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [9]:
temp2 = temp.reset_index().groupby('ProductName')[['Quantity']].sum().sort_values('Quantity', ascending=False)
temp2

                               Quantity
ProductName
Butter - Unsalted                     3
Wine - Ej Gallo Sierra Valley         3
Towels - Paper / Kraft                3
Soup - Campbells Bean Medley          3
Wine - Blue Nun Qualitatswein         3
...                                 ...
Hinge W Undercut                      1
Ice Cream Bar - Hageen Daz To         1
Jagermeister                          1
Jolt Cola - Electric Blue             1
Yogurt - French Vanilla               1

[218 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [10]:
temp3 = pd.merge(temp2, pivot, on='ProductName')
top_products = temp3[temp3[33] == 0].sort_values('Quantity', ascending=False)[:5].index
print(top_products)

Index(['Butter - Unsalted', 'Soup - Campbells Bean Medley',
       'Wine - Blue Nun Qualitatswein', 'Wine - Ej Gallo Sierra Valley',
       'Beans - Wax'],
      dtype='object', name='ProductName')

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [11]:
recommendations = dict()
ids = data['CustomerID'].unique().tolist()

for i in ids:
    top5 = distances[i].sort_values(ascending=False)[1:6].index
    temp = product_quantity.loc[top5]
    temp2 = temp.reset_index().groupby('ProductName')[['Quantity']].sum().sort_values('Quantity', ascending=False)
    temp3 = pd.merge(temp2, pivot, on='ProductName')
    top_products = temp3[temp3[33] == 0].sort_values('Quantity', ascending=False)[:5].index
    recommendations[i] = top_products

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [14]:
recomendantion_df = pd.DataFrame(recommendations)
recomendantion_df

,61288,77352,40094,23548,78981,83106,11253,35107,15088,26031,...,25270,17390,97029,38154,74403,49005,41286,85878,68506,3472
0,Beef - Rib Eye Aaa,Fuji Apples,Bread - Italian Corn Meal Poly,Tea - English Breakfast,Isomalt,Cocoa Butter,Juice - Lime,Vinegar - Sherry,Soup Knorr Chili With Beans,Sugar - Fine,...,Beef - Top Sirloin,"Pasta - Penne, Rigate, Dry",Fenngreek Seed,Milk Powder,Chips Potato Salt Vinegar 43g,Pickerel - Fillets,Beef - Ground Medium,"Beef - Tenderlion, Center Cut",Onions - Cippolini,Knife Plastic - White
1,Chicken - Soup Base,Ocean Spray - Ruby Red,Puree - Mocha,Banana Turning,Crush - Cream Soda,"Cheese - Boursin, Garlic / Herbs",Pomello,Bread - French Baquette,Wine - Fume Blanc Fetzer,Cheese - Mozzarella,...,Soup Knorr Chili With Beans,Soup Knorr Chili With Beans,Milk - 2%,Rum - Mount Gay Eclipes,Tomatoes Tear Drop,"Pasta - Penne, Rigate, Dry",Veal - Inside,Cake - Mini Cheesecake,Beef - Ground Medium,Wine - Ej Gallo Sierra Valley
2,Jagermeister,Chicken - Soup Base,"Wine - White, Colubia Cresh",Puree - Mocha,Vanilla Beans,Cake - Mini Cheesecake,Tomatoes Tear Drop,Table Cloth 62x114 White,"Wine - Magnotta, Merlot Sr Vqa","Lemonade - Natural, 591 Ml",...,Eggplant - Asian,Coffee - Hazelnut Cream,Bay Leaf,Muffin Mix - Blueberry,Cookie Chocolate Chip With,Browning Caramel Glace,Beer - Labatt Blue,Olives - Kalamata,Scampi Tail,Wine - Blue Nun Qualitatswein
3,Lime Cordial - Roses,"Soup - Campbells, Lentil","Cheese - Brie,danish",Pernod,Tea - Earl Grey,Wiberg Super Cure,Skirt - 29 Foot,Wine - Blue Nun Qualitatswein,Arizona - Green Tea,Appetizer - Sausage Rolls,...,Lime Cordial - Roses,Sea Bass - Whole,Pomello,Sea Bass - Whole,Fenngreek Seed,Ecolab - Mikroklene 4/4 L,"Thyme - Lemon, Fresh",Wine - White Cab Sauv.on,"Veal - Brisket, Provimi,bnls",Beef Wellington
4,Macaroons - Two Bite Choc,Isomalt,Cookie - Dough Variety,Wanton Wrap,Lettuce - Frisee,Beef - Top Sirloin - Aaa,Bar - Granola Trail Mix Fruit Nut,"Spoon - Soup, Plastic",Beans - Kidney White,Bread - Hot Dog Buns,...,Muffin - Zero Transfat,Rambutan,Banana Turning,Watercress,Isomalt,Tea - Decaf Lipton,Wonton Wrappers,Yoghurt Tubes,"Rosemary - Primerba, Paste",Soup - Campbells Bean Medley

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.